html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;
  }
  body{
    background-color: #ffffff;
  }
  
 *, *::before, *::after {
    box-sizing: inherit;
  }
  /* Works on Chrome, Edge, and Safari */
.contenedor-noticia-c::-webkit-scrollbar {
  width: 12px;
}

.contenedor-noticia-c::-webkit-scrollbar-track {
  background: rgb(232, 232, 232);
}

.contenedor-noticia-c::-webkit-scrollbar-thumb {
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}
  /* Works on Chrome, Edge, and Safari */
.contenedor-mas-vistas::-webkit-scrollbar {
  width: 12px;
}

.contenedor-mas-vistas::-webkit-scrollbar-track {
  background: rgb(232, 232, 232);
}

.contenedor-mas-vistas::-webkit-scrollbar-thumb {
  background-color: rgb(225, 225, 225);
  border-radius: 20px;
  border: 3px solid rgb(255, 255, 255);
}
.contenedor-principal-ne{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0;
  }
  .contenedor-noticia-c{
    width: 67%;
    background-color: #ffffff00;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    font-size: 1.4em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000a2;
    box-sizing: border-box;
    word-wrap: break-word;
    line-height: 30px;
    letter-spacing: 1px;
    height: 99vh;
    overflow-y: auto;
  }
  .contenedor-mas-vistas{
    display: flex;
    width: 30%;
    padding: 10px;
    flex-direction: column;
    align-content: center;
    box-sizing: border-box;
    height: 99vh;
    overflow-y: auto;

   
  }
  .contenedor-mas-vistas .noticias-ultimas{
     background: url(../assets/images/banner1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    border-radius: 15px;
    left: 0;
    right: 0;
    z-index: 1;
    padding-bottom: 5px;
  }
  .contenedor-mas-vistas div{    
    width: 100%;
    background-color: #ffffff00;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 0px;
    
  }
  .contenedor-mas-vistas div img{
    width: 100%;
    height: auto;
  border: 8px solid rgba(255, 255, 255, 0.351);
  border-radius: 5px;
  }  
  .contenedor-mas-vistas div .titulo-ne{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    background-color: #0d06df8b;    
    border-radius: 0px;
    padding: 6px;
  
  }
  .contenedor-mas-vistas div .titulo-ne a{
    color: #ffffff;
    font-weight: 600;
    outline: none;
    text-decoration: none;
  }
    .contenedor-mas-vistas div .titulo-ne a:hover{
    
      text-decoration-line: underline;
  }
  .contenedor-noticia-c   img{
    float: left;
    padding: 10px;
    border-radius: 20px;
  }
  .contenedor-noticia-c h3{
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
    opacity: 0.8;
    
  }
  .contenedor-noticia-c .h3-descripcion{
    margin-bottom: 20px;
  }
  .contenedor-mas-vistas h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #00000094;
    margin: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
  }
  .date-ne{
  position: relative;
  text-align: center;
  z-index: 9999;
  color: #ffffff;
  font-size: .9em;
  font-weight: 600;
  bottom: 0;
  background-color: #0000009f !important;
  padding: 7px  !important;
  }
  .re-noev{
    background-color: rgba(102, 51, 153, 0) !important;
    color: #555555;
    font-size: .8em;
    text-align: right;
    letter-spacing: 1px;
  }
  .home-p{
    position: fixed;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  .home-p i{
    font-size: 2em;
  }
  .share-ne{
    position: fixed;
    bottom: 35px !important ;
    left: 10px !important;
  }
  .btn-wts{
  position: fixed;
  bottom: 40px;
  left: 5px;
  width: 50px;
  height: 50px;
   background-color: #3f42a3;
  background: url(../img/wt.png) no-repeat center !important;
  background-size: cover !important; 
  border-radius: 50%;
  z-index: 100;
  opacity: 1 !important;
  }
  @media  (max-width: 768px) {
    .contenedor-principal-ne{
      flex-flow: wrap !important;
      overflow-y: scroll;
     
    }
    .contenedor-noticia-c{
      width: 100%;
    }
    .contenedor-mas-vistas{
      width: 100%;
    }
    .contenedor-noticia-c   img{
      width: 100%  !important;
      height: auto;
    }
  }
  @media  (max-width: 1152px) {
    .contenedor-noticia-c   img{
        width: 100%  !important;
        height: auto;
      }
  }
 